*.suo
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.exe
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.exe.config
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.pdb
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.vshost.exe
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.vshost.exe.config
AWS.SMTP.CredentialGenerator/bin/Debug/AWS.SMTP.CredentialGenerator.vshost.exe.manifest
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.Properties.Resources.resources
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.csproj.FileListAbsolute.txt
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.csproj.GenerateResource.Cache
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.csprojResolveAssemblyReference.cache
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.exe
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.keygen.resources
AWS.SMTP.CredentialGenerator/obj/Debug/AWS.SMTP.CredentialGenerator.pdb
AWS.SMTP.CredentialGenerator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
AWS.SMTP.CredentialGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AWS.SMTP.CredentialGenerator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AWS.SMTP.CredentialGenerator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AWS.SMTP.CredentialGenerator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs